{% extends "index.html" %}
{% block content %}
<body>
    <ul class="topnav">
        <li><a href="/">Home</a></li>
        <li><a class="active" href="/getweightparams">Weight</a></li>
        <li><a href="/unknown">Unknown</a></li>
        <li><a href="/session">Sessions</a></li>
        <li><a href="/batch_weight">Batch-weight</a></li>
        <li><a href="/item">items</a></li>
        <li><a href="/health">Health</a></li>  
    </ul>
    <form id="inform3" style="max-width:500px;margin:auto" action="/getweightparams" method="POST">
        <h2>Pass the required Arguments</h2>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" name="from"  type="text" placeholder="From" value={{frm}}>
        </div>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" name="to"  type="text" placeholder="To" value={{to}}>
        </div>
        <p><h4>Filter</h4></p>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            
            <select class="input-field" name="filter" placeholder="Filter" id="filter">
                <option value="'in','out','na'">in, out, none</option>
                <option value="'in','out'">in, out</option>
                <option value="'in','na'">in, none</option>
                <option value="'out','na'">out, none</option>
                <option value="'in'">in</option>
                <option value="'out'">out</option>
                <option value="'none'">none</option>
            </select>
        </div>
        <button id="submit" name="submit" type="submit" value="submit" class="btn">Submit</button>

    </form>
</body>
{% endblock %}